<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Dreamball</title>
  </head>
  <body>
    {{{ body }}}
    <script type="application/json" id="game_state">
      {
        "loginOwnerID": {{{ OwnerId }}}
      }
    </script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/dreamballs.js"></script>
    <script src="/assets/js/play_game.js"></script>
  </body>
</html>
